				
				body {
						background-image: url("https://static.vecteezy.com/system/resources/previews/014/274/728/original/flower-cartoon-character-seamless-pattern-on-blue-background-vector.jpg");
						background-repeat: no-repeat;
						background-position: center;
						background-size: 1000px 1000px;
					}
				
				h1 {
						text-align: center;
						background-color: #52AFED;
						font-family: Lucida Handwriting;
						border: 2px;
						border-style: dotted;
						border-color: blue;
						padding: 10px 15px 15px;
						width: 250px;
						margin-bottom: 20px;
						margin-left: auto;
						margin-right: auto;
					}
				
				p {
						text-align: justified;
						background-color: hsl(192, 100%,50%);
						font-style: italic;
						padding: 20px;
						border: 3px solid black;
						border-style: dashed dotted solid double;
						width: 500px;
						margin-left: auto;
						margin-right: auto;
					}
					
				span {
						font-weight: bold;
						font-style: italic;
						color: rgb(15, 0, 143);
						margin-left: 2px;
						margin-right: 5px;
					}