body{
	margin-top: 200px;
	background-position: center;
	height: 150px;
}
.header {
  position:fixed;
  top:0;
  bottom:-10;
  left:0;
  right:0;
  overflow: hidden;
  background-color: #FAFAFF;
  padding: 5px 10px;
  margin-top: -10px;
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: -10px;
} 
.header img{
  height: 60px;
  float: left;
  margin-top: 10px;
  margin-left: 30px;
  background-color:#DD4213; 
  padding: 10px 10px;
}
 h1{
  text-align: center;
  margin-left:300px;
  color: #DD4213;
  font-family: optima;
  word-spacing: -5px;
  font-size: 40px;
}
.header a {
  float: right;
  color: #F4CC55;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 23px;
  line-height: 25px;
  border-radius: 4px;
  margin-right: 70px;
  background-color:#FAFAFF; 
  padding: 10px 10px;
}
.header a.logo {
  font-size: 25px;
}
.header a:hover {
  background-color: #DD4213 ;
  color: #FAFAFF;
}
.header a.active {
  background-color: #FAFAFF;
  color: #DD4213;
}
.header-right {
  float: right; 
}
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
  .header-right .dropdown li{
    margin-right: 50px;
  }
}
.image img{
	float: left;
	position: center;
	display: flex;
	flex-direction: column;
	background-color:#DD4213; 
	padding: 15px 15px;
	width: 200px;
	height: 200px;
	margin-top: auto;
	margin-left: 120px;
}
.image img:hover {
  background-color: #FAFAFF;
  padding: 10px 5px 10px 5px;
}
ul {
  display: inline;
  margin: 0;
  padding: 0;
}
ul li {display: inline-block;}
ul li:hover ul {display: block;}
ul li ul {
  position: absolute;
  width: 200px;
  display: none;

}
ul li ul li { 
  background: #F4CC55; 
  display: block;
  margin-right: 50px;  
  padding: 10px 10px 10px 10px;
}
ul li ul li a {display:block !important;} 
.dropdown{
	color: #FAFAFF;
	font-size: 15px;
	word-spacing: 2px;
	font-family: verdana;
}
p{
	border: 5px;
	border-style: solid;
	border-color: #F4CC55;
	padding: 10px 15px 15px;
	border-radius: 25px;
	background-color: #FAFAFF;
	padding: 30px 30px;
	font-family: tahoma;
	color: #DD4213;
	text-align: center;
	margin-right: 300px;
	margin-top: 350px;
	margin-left:300px;
	font-size: 20px;
}
.header-bottom{
	background-color: #FAFAFF;
	float: center;
	width: 300px;
	border: 5px;
	border-style: solid;
	border-color: #DD4213;
	border-radius: 100px;
	padding: 20px 10px 20px 10px;
	margin-top: -50px;
	margin-bottom: 50px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.header-bottom a{
	color: #FAFAFF;
	background-color: #DD4213;
	text-decoration: none;
	border-radius: 200px;
	padding: 5px 15px 5px 15px;
	font-size: 20px;
	margin-left: 20px;
	margin-right: 20px;
	text-align: center;
}
.header-bottom a:hover{
  background-color: #FAFAFF;
  color: #DD4213;
}
.images{
	padding: 20px 20px 20px 20px;
	margin-right: 60px;
	margin-left: 70px;
}
.images a img{
	transition: transform 0.2s;
	border: 5px;
	border-style: solid;
	border-color: #FAFAFF;
	border-radius: 200px;
	padding: 10px 15px 15px;
	width: 250px;
	height: 250px;
	margin-left: 80px;
	margin-right: 60px;
}
.images a img:hover{
			transform: scale(1.1);
		}
.images a imgs1{
	float: center;
	display: flex;
	flex-direction: row;
}
.images .imgs2{
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
}
h3{
	font-family: verdana;
	color: #FAFAFF;
	font-size: 20px;
	margin-left: 80px;
	margin-right: 40px;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
	border: 5px;
	border-style: solid;
	border-color: #F4CC55;
	padding: 10px 15px 15px;
}
h4{
	background-color: #FAFAFF;
	padding: 20px 20px 20px 20px;
	margin-top: 100px;
	margin-left: -50px;
	margin-right: -10px;
	margin-bottom: -100px;
}
.header-bottom1{
	background-color: #FAFAFF;
	float: center;
	width: 300px;
	border: 5px;
	border-style: solid;
	border-color: #F4CC55;
	border-radius: 100px;
	padding: 20px 10px 20px 10px;
	margin-top: -50px;
	margin-bottom: 30px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.header-bottom1 a{
	color: #FAFAFF;
	background-color: #DD4213;
	text-decoration: none;
	border-radius: 200px;
	padding: 5px 15px 5px 15px;
	font-size: 20px;
	margin-left: 20px;
	margin-right: 20px;
	text-align: center;
}
.header-bottom1 a:hover{
  background-color: #FAFAFF;
  color: #DD4213;
}