body{
	background-image: url("https://i.pinimg.com/564x/bb/8b/7c/bb8b7c92238590b19d4eb02f600792e1.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 100%;
	weight: 100%;
}
.header {
  overflow: hidden;
  background-color: #FAFAFF;
  padding: 5px 10px;
  margin-top: -10px;
  margin-left: -10px;
  margin-right: -10px;
} 
.header img{
  height: 60px;
  float: left;
  margin-top: 10px;
  margin-left: 30px;
  background-color:#DD4213; 
  padding: 10px 10px;
}
 h1{
  text-align: center;
  color: #DD4213;
  font-family: optima;
  word-spacing: -5px;
  font-size: 40px;
}
.header a {
  float: right;
  color: #F4CC55;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 23px;
  line-height: 25px;
  border-radius: 4px;
  margin-right: 70px;
  background-color:#FAFAFF; 
  padding: 10px 10px;
}
.header a.logo {
  font-size: 25px;
}
.header a:hover {
  background-color: #DD4213 ;
  color: #FAFAFF;
}
.header a.active {
  background-color: #FAFAFF;
  color: #DD4213;
}
.header-right {
  float: right; 
}
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}
.content-middle div {
			text-align: center;
			padding: 20px;
			border: 1px solid #D988B9;
}
.content-middle div conr-item1{
			text-align: center;
			padding: 20px;
			border: 1px solid #D988B9;
}
.image img{
	background-color:#DD4213; 
	border-radius: 25px;
	padding: 30px 30px;
	width: 200px;
	height: 200px;
	margin-top: 100px;
	margin-left: 100px;
}
ul {
  display: inline;
  margin: 0;
  padding: 0;
}
ul li {display: inline-block;}
ul li:hover ul {display: block;}
ul li ul {
  position: absolute;
  width: 200px;
  display: none;

}
ul li ul li { 
  background: #F4CC55; 
  display: block;
  margin-right: 50px;  
  padding: 10px 10px 10px 10px;
}
ul li ul li a {display:block !important;} 
.dropdown{
	color: #FAFAFF;
	font-size: 15px;
	word-spacing: 2px;
	font-family: verdana;
}
p{
	background-color: #FAFAFF;
	border-radius: 25px;
	padding: 30px 30px;
	font-family: tahoma;
	color: #DD4213;
	text-align: center;
	margin-right: 300px;
	margin-top: 50px;
	margin-left:300px;
	margin-bottom: 70px;
	font-size: 20px;
}
.header-bottom{
	background-color: #DD4213;
	text-align: center;
	padding: 30px 30px 30px 30px;
	margin-bottom: -10px;
	margin-left: -10px;
	margin-right: -10px;
}
.header-bottom a{
	color: #FAFAFF;
	text-decoration: none;
	background-color: #F4CC55;
	border-radius: 200px;
	padding: 20px 30px 20px 30px;
	font-size: 20px;
	margin-left: 20px;
	margin-right: 20px;
}
.images a img{
	background-color:#DD4213; 
	border-radius: 25px;
	padding: 30px 30px;
	width: 170px;
	height: 170px;
	margin-top: 20px;
	margin-left: 120px;
	margin-right: 200px;
}
.images .imgs2{
	margin-top: 50px;
	margin-left: -5px;
	margin-right: 10px;
}
h3{
	font-family: Tahoma;
	color: #FAFAFF;
	font-weight: bold;
	background-color: #F4CC55;
	padding: 10px 20px 10px 20px;
	font-size: 20px;
	margin-left: 20px;
	margin-right: 20px;
	text-align: center;
}