
	body {
	background-image: url("https://i.pinimg.com/564x/87/bc/c6/87bcc6de84eed053548c94d0c376e453.jpg");
	background-repeat: no-repeat;
	backround-position: center;
	background-size: 1700px 1700px;
	text-align: center;
	}
	
	h1 {
	font-family: tahoma;
	text-shadow: 3px 3px #5E7E71;
	color: #C3ECBE;
	margin-top: 50px;
	margin-bottom: 100px;
	}
	
	a {
	font-family: tahoma;
	text-align: center;
	color: #6A9180;
	margin-top: 50px;
	border: 2px;
	border-style: dashed;
	border-color: #889E95;
	background-color: #C3ECBE;
	padding: 20px;
	}
	
	div {
	font-family: tahoma;
	text-align: center;
	margin-top: 50px;
	margin-bottom: 100px;
	}
	
	h2 {
	font-family: arial;
	color: #E7D268;
	text-align: center;
	margin-top: 20px;
	}
